.wrapper{
    width: 970px;
    background-color: blue;
    padding: 10px;
}
.header{
    width: auto;
    background-color: red;
    border-radius: 15px;
    margin-bottom: 20px;
    margin: 0px;
}
.header h1{
    color: whitesmoke;
    padding: 20px 0 20px 10px;
}
.nav_bar{
    width: 180px;
    background-color: teal;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.nav_bar ul{
    padding-left: 20px;
    margin: 0px;
}
.nav_bar a{
    color: skyblue;
    font-size: 14px;
}
.main_content{
    color: white;
    height: 500px;
    width: 740px;
    display: inline-block;
    background-color: black;
    border-radius: 15px;
}
.main_content a{
    color: skyblue;
}
.main_content h2{
    padding-left: 15px;
    margin-bottom: 0px;
}
.main_content p{
    padding: 10px 0 0 20px;
    margin-top: 0px;
}
.more_info{
    border-radius: 15px;
    background-color: grey;
    margin-top: 20px;
    padding: 5px 0 5px 20px;
    margin: 20px 0 0 0;
}
.highlight{
    color: cornflowerblue;
}